//FONTS
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');
// TOOLS
// mixins et fonctions utilisés globalement dans le SCSS (Sass)
@import 'tools/typo';

// SETTINGS
// Contient les variables sur les polices, les définitions de couleurs, les définitions de  grandeurs,   etc.
@import 'settings/easings';
@import 'settings/colors';
@import 'settings/fonts';
@import 'settings/dimensions';

// GENERIC
// Permet de réinitialiser les CSS et de changer le modèle de boîte en box-sizing: border-box
@import 'generic/normalize';
@import 'generic/reset';

// ELEMENTS
// Modification des styles généraux de la page. Ce sont les styles qui seront généralement hérités par les éléments de la page.
@import 'elements/body';
@import 'elements/headings';
@import 'elements/links';
@import 'elements/wrapper';

// COMPONENTS
// Composants d'interface utilisateur spécifiques.
// C’est là que la majorité de notre travail a lieu.
@import 'components/button';
@import 'components/chef';
@import 'components/icons';
